* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-family: "Trirong", serif;
}

#HomeSection{
    background-color: black;
    padding-bottom: 8em;
}
#HomeMenue {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    width: 100%;
}

a{
    color: #20BCD1;
}

#Logo {
    width: 20%;
    height: 20%;
}

.HomeFlex {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 15em;
    margin-top: 5em;
    gap: 10em;
    padding-top: 5em;
}

#HomePic {
    width: 30%;
    height: 30%;
}

h2 {
    font-weight: bolder;
    overflow: hidden;       /* Hides the text that hasn't been "typed" yet */
  white-space: nowrap;    /* Prevents the text from wrapping */
  border-right: 2px solid white; /* Mimics a blinking cursor */
    animation:typing 5s steps(33) 3s infinite,blink-cursor  step-end infinite;
}
@keyframes typing {
    0% { width: 0; }        /* Starts with no width */
  90% { width: 100%; }       /* Finish typing here */
  100% { width: 100%; }      /* Hold the full text at 100% width for the pause */
  }
  @keyframes blink-cursor {
    50% { border-color: transparent; }  /* Makes cursor "disappear" every half second */
  }

.HireBtn{
    cursor: pointer;
    background-color: transparent;
    border-radius: 20rem;
    border-color: #20BCD1;
    color: #20BCD1;
    margin: 2em;
    padding: 0.8rem 2.6rem;
    border-width: 4px;
}
#AboutSection{
    margin-top: 5em;
}
h1 {
    font-family:"Audiowide", sans-serif;
    text-align: center;
    color: #20BCD1;
    font-size: 3em;
}
.AboutMe{
    font-family:"Sofia", sans-serif;
    text-align: justify;
    margin: 3em;
    margin-left: 5em;
    margin-right: 5em;
}

.AboutList{
    display: flex;
    justify-content: space-around;
}
span {
    font-weight: bold;
    color: #20BCD1;
}
.Mail{
    color: black;
    cursor: pointer;

}
.CvBtn{
    cursor: pointer;
    background-color: #D1BC20;
    border-radius: 20rem;
    border-color: transparent;
    color: white;
    margin: 2em;
    padding: 0.8rem 2.6rem;
    margin-left: 40%;
    margin-bottom: 5em;
}

#ProjectSection{
    background-color: #f5f5f5;
    padding-top: 5em;
    padding-bottom: 5em;
}
#ProjectMenue {
    display: flex;
    justify-content: center;
    gap: 5%;
    color: #20BCD1;
    font-size: 1em;
    margin: 2em;
}

.ProjectImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1em;
}
.Projects{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
}

#SkillsSection{
 padding-top: 5em;
 padding-bottom: 5em;
}
h5{
    font-size: 1em;
    font-weight: bolder;
}
#SkillsItems{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}
section{
    flex: 1 1 calc(50% - 10%);
    margin-bottom: 4em;
}
.ProgressBar{
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
}
.ItemBar{
    background-color: #20BCD1;
    border-radius: 10px;
    text-align: center;
}

#ServicesSection{
    background-color: #f5f5f5;
    padding-top: 5em;
    padding-bottom: 5em;
}
#ServicesFlex{
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.MyServices{
    flex: calc(50% - 10%);
    margin-left: 3em;
    margin-top: 2em;
}
.Quote{
    margin-top: 5em;
text-align: center;
font-family:"Sofia", sans-serif;
color: #20BCD1;
}









#BlogSection{
    padding-top: 5em;
    padding-bottom: 5em;
}










#ContactSection{
    background-color: #f5f5f5;
    padding: 5em;

}
.ContactFlex{
    display: flex;
    align-items: center;

}
h4{
    font-size: 1.5em;
    margin-top: 3em;
    margin-bottom: 1em;
}
input{
    width: 40%;
    height: 2.5em;
    margin-bottom: 1em;
    border: solid #dae1e3;
    padding-left: 1em;
}
textarea{
    width: 83%;
    border: solid #dae1e3;
    padding-left: 1em;
}
.ContactBtn{
    background-color: #20BCD1;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border-color: transparent;
    width: 30%;
    padding: 10px;
    align-items: center;
    margin-left: 30%;
    margin-top: 2em;
}

.ContactMenue{
    padding-top: 8em;
    padding-bottom: 4em;
    padding-right: 7em;
    color: #252b33;
}
#ContactIcone{
    margin-right: 1em;
}

footer{
color: #252b33;
font-family: "Audiowide", sans-serif;
margin-left: 10em;
margin: 2em;
}

.popup{
    background-color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border-style: double;
    position: absolute;
    transform: translate(50%, -100%);
    visibility: hidden;
}
.openpopup1{
    visibility: visible;
}
.openpopup2{
    visibility: visible;
}
.openpopup3{
    visibility: visible;
}
.openpopup4{
    visibility: visible;
}
.openpopup5{
    visibility: visible;
}
.openpopup6{
    visibility: visible;
}
.openpopup7{
    visibility: visible;
}

.popup h1{
    color: black ;
    font-size: 2em; 
    padding: 1em;
}
.popup p{
color: #252b33;
padding: 1em;
}
.popup img{
    width: 150px;
    height: 150px;
}
.popup button{
background-color: #20BCD1;
color: white;
cursor: pointer;
border-radius: 10px;
border-color: transparent;
width: 20%;
margin-top: 1em;
}