* {
    margin: 0%;
    padding: 0%;
    font-family: "Trirong", serif;
}

#HomeSection {
    background-color: black;
    padding-bottom: 8em;
}

#HomeMenu {
    list-style: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    width: 100%;
}
#HomeMenu li:hover{
    font-size: larger;
}

#burgerMenu {
    visibility: hidden;
    cursor: pointer;
    position: fixed;
}

a {
    color: #20BCD1;
    text-decoration-line: none;
}

#Logo {
    width: 20%;
    height: 20%;
}

.HomeFlex {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 15em;
    margin-top: 5em;
    gap: 10em;
    padding-top: 5em;
}

#HomePic {
    width: 30%;
    height: 30%;
}

#HomeSection h2 {
    font-weight: bolder;
    overflow: hidden;
    /* Hides the text that hasn't been "typed" yet */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    border-right: 0.25em solid white;
    /* Mimics a blinking cursor */
    animation: typing 5s steps(33) 3s infinite, blink-cursor step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    /* Starts with no width */
    90% {
        width: 100%;
    }

    /* Finish typing here */
    100% {
        width: 100%;
    }

    /* Hold the full text at 100% width for the pause */
}

@keyframes blink-cursor {
    50% {
        border-color: transparent;
    }

    /* Makes cursor "disappear" every half second */
}

.HireBtn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 20rem;
    border-color: #20BCD1;
    color: #20BCD1;
    margin: 2em;
    padding: 0.8rem 2.6rem;
    border-width: 4px;
}
.HireBtn:hover{
    font-size: larger;
    border-color: #D1BC20;
}
#AboutSection {
    margin-top: 5em;
}

h1 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    color: #20BCD1;
    font-size: 3em;
}

.AboutMe {
    font-family: "Sofia", sans-serif;
    text-align: justify;
    margin: 3em;
    margin-left: 5em;
    margin-right: 5em;
}

.AboutList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

span {
    font-weight: bold;
    color: #20BCD1;
}

.Mail {
    color: black;
    cursor: pointer;

}

.CvBtn {
    cursor: pointer;
    background-color: #D1BC20;
    border-radius: 20rem;
    border-color: transparent;
    color: white;
    margin: 2em;
    padding: 0.8rem 2.6rem;
    margin-left: 40%;
    margin-bottom: 5em;
}
.CvBtn:hover{
    color: black;
}
#ProjectSection {
    background-color: #f5f5f5;
    padding-top: 5em;
    padding-bottom: 5em;
}

#ProjectMenu {
    display: flex;
    justify-content: center;
    gap: 5%;
    color: #20BCD1;
    font-size: 1em;
    margin: 2em;
}
.ProjectList{
    background: none;
    border: none;
    color: #20BCD1;
    cursor: pointer;
}
.ProjectList:hover {
    color: #D1BC20;
  }
  
  .ProjectList.active {
    background-color: white;
  }
.ProjectImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1em;
    cursor: pointer;
}
.ProjectImg:hover{
    transform: scale(1.1)
}
.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
}

/* Fenetre Popup */
.popup {
    background-color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    border-style: double;
    position: absolute;
    transform: translate(50%, -100%);
    visibility: hidden;
}

.openpopup1 {
    visibility: visible;
}

.openpopup2 {
    visibility: visible;
}

.openpopup3 {
    visibility: visible;
}

.openpopup4 {
    visibility: visible;
}

.openpopup5 {
    visibility: visible;
}

.openpopup6 {
    visibility: visible;
}

.openpopup7 {
    visibility: visible;
}

.popup h1 {
    color: black;
    font-size: 2em;
    padding: 1em;
}

.popup p {
    color: #252b33;
    padding: 1em;
}

.popup img {
    width: 150px;
    height: 150px;
}

.popup button {
    background-color: #20BCD1;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-color: transparent;
    width: 20%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#SkillsSection {
    padding-top: 5em;
    padding-bottom: 5em;
}

#SkillsItems h5 {
    font-size: 1em;
    font-weight: bolder;
}

#SkillsItems {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

section {
    flex: 1 1 calc(50% - 10%);
    margin-bottom: 4em;
}

.ProgressBar {
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
}

.ItemBar {
    background-color: #20BCD1;
    border-radius: 10px;
    text-align: center;
}

#ServicesSection {
    background-color: #f5f5f5;
    padding: 5em;
}

#ServicesFlex {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
}

.MyServices {
    flex: calc(50% - 10%);
    margin: 1em;
    padding: 1em;
    border: 5px ridge #f5f5f5;
    text-align: center;
    background-color: white;
}
.MyServices h5{
    margin-bottom: 1em;
    color: #20BCD1;
}
.Quote {
    margin-top: 5em;
    text-align: center;
    font-family: "Sofia", sans-serif;
    color: #20BCD1;
}


#BlogSection {
    padding-top: 5em;
    padding-bottom: 5em;
}
#BlogFlex{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3em;
    justify-content: center;
}
.BlogItems{
    text-align: center;
    border: 5px double #D1BC20;
    margin: 2em;
    padding: 1em;
    cursor: pointer;
}
.BlogItems img{
    width: 200px;
    height: 200px;
}
.BlogItems p{
    text-align: justify;
    margin: 1em;
}
.BlogItems button{
margin-left: 60%;
background-color: none;
border-radius: 50%;
border-color: #20BCD1;
width: 25%;
color: #20BCD1;
}

.BlogDetails{
    /* display: none; */
    margin: 3em;
    text-align: justify;
}
.BlogDetails h1{
    margin-bottom: 2em;
}
.BlogDetails img{
    width: 40%;
    height: fit-content;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 30%;
}
.BlogDetails h2{
    margin: 1em;
    margin-left: 1em;
    color: #252b33;
}
.BlogDetails h3{
    margin-left: 2em;
    margin-top: 1em;
}
.BlogDetails span{
    color: #20BCD1;
    font-weight: bolder;
}
.BlogDetails li{
    margin-left: 5em;
}





#ContactSection {
    background-color: #f5f5f5;
    padding: 5em;

}

.ContactFlex {
    display: flex;
    align-items: center;

}

#ContactSection h4 {
    font-size: 1.5em;
    margin-top: 3em;
    margin-bottom: 1em;
}

#ContactSection input {
    width: 40%;
    height: 2.5em;
    margin-bottom: 1em;
    border: solid #dae1e3;
    padding-left: 1em;
}

#ContactSection textarea {
    width: 83%;
    border: solid #dae1e3;
    padding-left: 1em;
}

.ContactBtn {
    background-color: #20BCD1;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border-color: transparent;
    width: 30%;
    padding: 0.75em;
    align-items: center;
    margin-left: 30%;
    margin-top: 2em;
}
.ContactBtn:hover{
    background-color: #D1BC20;
    font-weight: bolder;
}
.ContactMenu {
    list-style: none;
    padding-top: 8em;
    padding-bottom: 4em;
    padding-right: 7em;
    color: #252b33;
}
.Mail:hover{
    font-weight: bolder;
    font-size: larger;
}

#ContactIcone {
    margin-right: 1em;
}
#ContactIcone:hover{
    font-weight: bolder;
    font-size: larger;
}
footer {
    color: #252b33;
    font-family: "Audiowide", sans-serif;
    margin-left: 10em;
    margin: 2em;
}

@media screen and (max-width: 430px) {
    #HomeMenu {
        display: none;
    }

    #burgerMenu {
        visibility: visible;
        display: flex;
        background-color: black;
        position: fixed;
    }

    #burgerMenu img {
        width: 20%;
        height: fit-content;
    }

    #burgerMenu i {
        padding-top: 2em;
        padding-right: 2em;
        cursor: pointer;
    }
    #HomeMenu.showMenu {
        display: flex;
    }

    .HomeFlex {
        flex-direction: column-reverse;
        margin-left: 0em;
        margin-top: 0em;
        gap: 0em;
        padding-top: 8em;
    }
#HomePic{
    margin-bottom: 3em;
}
    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    .AboutMe {
        margin: 3em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .AboutList {
        flex-direction: column;
        margin-left: 1em;
    }

    .CvBtn {
        margin-left: 1em;
    }

    #ProjectMenu {
        gap: 3%;
        font-size: 0.5em;
    }

    .popup {
        transform: translate(50%, -300%);
    }

    h5 {
        font-size: 0.5em;
    }

    #SkillsItems {
        flex-direction: column;
        gap: 0%;
        margin-top: 3em;
        margin-left: 1em;
        margin-right: 1em;
    }

    section {
        margin-bottom: 1em;
    }

    .ProgressBar {
        font-size: 0.5em;
    }

    #ServicesFlex {
        flex-direction: column;
        gap: 0%;
    }

    .MyServices {
        margin-left: 1em;
    }

    h5 {
        font-size: 1em;
    }

    .MyServices p {
        font-size: 0.75em;
    }

    .Quote {
        font-size: 0.5em;
    }
    #BlogFlex{
        flex-wrap: wrap;
    }
    .BlogItems{
        
    }

    .ContactFlex {
        flex-direction: column-reverse;
    }

    h4 {
        font-size: 1em;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .ContactBtn {
        width: 100%;
        align-items: center;
        margin-left: 0%;
        margin-top: 2em;
    }

    .ContactMenu {
        padding-top: 2em;
        padding-bottom: 0em;
        padding-right: Oem;
        text-align: center;
    }

    #ContactIcone {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    footer {
        font-size: 0.75em;
        margin-left: 0em;
        margin: 2em;
    }
}